/* ----------------------------------------------*/
/* DESIGN DE LA BOX DES CATASTROPHES */
/* ----------------------------------------------*/

.event-box
{
	background: #FFF;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.event-box header
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom : solid #DDD 1px;
}

/* ----------------------------------------------*/
/* LISTE DES CATASTROPHES */
/* ----------------------------------------------*/

.page-content
{
	width: 90%;
	margin: auto;
	padding-bottom: 20px;
}

.event-list .event-box header .catastrophe-name
{
	margin: 0;
	margin-bottom: 15px;
}

.event-list .event-box header .last-update
{
	font-style: italic;
	color: #999;
	margin-top: 0px;
	margin-right: 20px;
}

/* ----------------------------------------------*/
/* STATUTS CATASTROPHES */
/* ----------------------------------------------*/

.page-catastrophe .event-page .container
{
	margin-top: 50px;
}

/* ----------------------------------------------*/
/* FOOTER */
/* ----------------------------------------------*/

.main-footer
{
	background: #333;
	padding: 20px;
}

.main-footer .footer-content
{
	width: 90%;
	margin: auto;
}

.main-footer .footer-content p
{
	margin: 0;
	color: #FFF;
}