<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Importation du css material design de Google-->
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-light_blue.min.css" />
        <!-- Importation du css perso-->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
                <script src="/js/konami.js"></script>
    </head>
    <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" ng-controller="mainController">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                <!-- Title -->
                    <span class="mdl-layout-title">Alerte catastrophes</span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="/">Accueil</a>
                        <a class="mdl-navigation__link" href="new_user.html">S'inscrire</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Alerte catastrophes</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/">Accueil</a>
                    <a class="mdl-navigation__link" href="new_user.html">S'inscrire</a>
                    <div class="website-info">
                        <p>Alerte catastrophes &copy; 2015 - Site créé pour la nuit de l'info 2015</p>
                    </div>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <!-- PAGE -->
                <div class="page-content">
                    <!--
                    =================================================================
                    =================================================================
                                PAGE ACCUEIL
                    =================================================================
                    =================================================================
                    -->
                    <div class="page-accueil" ng-hide="details">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-card__supporting-text">
                                    <h1>
                                        <!-- Colored FAB button with ripple -->
                                        <a href="new_event.html" class="link_button">
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                                              <i class="material-icons">add</i>
                                            </button>
                                        </a>
                                        Catastrophes en cours
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div id="refresh-bar" ng-show="refreshStatus">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                                    Loading
                                </div>
                            </div>
                            <!-- MDL Progress Bar with Indeterminate Progress -->
                            <div id="p2" style="width:100%" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                        </div>

                        <div id="refresh-bar-error" ng-show="errorState">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                                    <h2>
                                        Erreur ! :(
                                    </h2>
                                    <p>
                                        {{debug}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- list start -->
                        <div ng-init="refreshList()" id="api-list" class="event-list">
                            <div  ng-repeat="catastrophe in catastrophes" class="event-box">
                                <div class="event-box-content">
                                    <header>
                                        <h3 class="catastrophe-name">
                                            <button style="float:right" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ng-click="details=true; getDetailsCata(catastrophe.id)">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <!-- nom de la catastrophe -->
                                            {{catastrophe.Name}}
                                        </h3>
                                        <p class="last-update">
                                            Dernière mise à jour :
                                            {{catastrophe.DerniereActu.Date}}
                                        </p>
                                    </header>
                                    <div class="container" id="{{catastrophe.id}}-details">
                                        <h5>
                                            <!-- Description de la catastrophe -->
                                            ({{catastrophe.DerniereActu.Description}})
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--
                    =================================================================
                    =================================================================
                                PAGE CATASTROPHE
                    =================================================================
                    =================================================================
                    -->

                    <div class="page-catastrophe" ng-show="details">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <div class="mdl-card__supporting-text">
                                    <h1>
                                        {{catastrophe.name}}
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div id="refresh-bar-details" ng-show="refreshStatus">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                                    Loading
                                </div>
                            </div>
                            <!-- MDL Progress Bar with Indeterminate Progress -->
                            <div id="p2" style="width:100%" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
                        </div>

                        <div id="refresh-bar-error-details" ng-show="errorState">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
                                    <h2>
                                        Error !
                                    </h2>
                                    <p>
                                        {{debug}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- list start -->
                        <div id="detailscata" class="event-page">
                            <div class="event-box">
                                <header>
                                  <h3 class="catastrophe-name">
                                    <!-- Status de la catastrophe -->
                                    {{catastrophe.status}}
                                  </h3>
                                  <p class="last-update">Dernière mise à jour : {{catastrophe.lastUpdate}}</p>
                                </header>
                                <div ng-show="isOpen">
                                    <div class="container" id="{{api.name}}-details">
                                    <!-- Liste de toutes les actualités -->
                                      <h5 ng-show="api.nbGET > 0">
                                        <!-- nom du statut -->
                                          GET ({{catastrophe.nbGET}})
                                      </h5>
                                      <p>Publié à {{catastrophe.statusDate}} par {{catastrophe.user}}</p>
                                        <!-- description du status -->
                                      <p>{{catastrophe.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
<!-- script -->
        <script>

var app = angular.module('myApp', []);
app.controller('mainController', function($scope, $http)
{
    // vars declaration and initialisation
    $scope.catastrophes = [];   // cata list
    $scope.debug = "";  // error message / debug purpose
    $scope.details = false;

    // API list
    $scope.refreshList = function()
    {
        $scope.refreshStatus = true;
        $scope.errorState = false;
        $scope.apis = [];

        $http({
                method: 'GET',
                url: '/API/test'
            }).then(function (response)
                    {
                        $scope.catastrophes = response.data.records;
                        $scope.refreshStatus = false;
                        window.componentHandler.upgradeDom();
                    },
                    function (data, status, header, config)
                    {
                        $scope.refreshStatus = false;
                        $scope.errorState = true;
                        $scope.debug = "";

                        if(status)
                            $scope.debug += status + " : ";

                        if(data)
                            $scope.debug += data;
                    });
    }

//////
    $scope.getDetailsCata = function(id)
    {
        $http({
                method: 'GET',
                url: ('/API/catastrophes/' + $id)
            }).then(function (response)
                    {
                        // retrieve methods
                        //~ $scope.apis[apiNb].methods = response.data.records;
                    },
                    function (response)
                    {
                        $scope.refreshStatus = false;
                        $scope.errorState = true;
                        $scope.debug = "";

                        if(status)
                            $scope.debug += status + " : ";

                        if(data)
                            $scope.debug += data;
                    });
    }
});
        </script>
    </body>
